# [作業目標]
- 仿造範例的 One Hot Encoding, 將指定的資料進行編碼

# [作業重點]
- 將 sub_train 進行 One Hot Encoding 編碼 (In[4], Out[4])

In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
# 設定 data_path, 並讀取 app_train
dir_data = '../data/'
f_app_train = os.path.join(dir_data, 'application_train.csv')
app_train = pd.read_csv(f_app_train)

## 作業
將下列部分資料片段 sub_train 使用 One Hot encoding, 並觀察轉換前後的欄位數量 (使用 shape) 與欄位名稱 (使用 head) 變化

In [3]:
sub_train = pd.DataFrame(app_train['WEEKDAY_APPR_PROCESS_START'])
print(sub_train.shape)
sub_train.head()

(307511, 1)

  WEEKDAY_APPR_PROCESS_START
0                  WEDNESDAY
1                     MONDAY
2                     MONDAY
3                  WEDNESDAY
4                   THURSDAY

## One Hot encoding

In [5]:
# 檢視該筆資料欄的型態
sub_train.dtypes

WEEKDAY_APPR_PROCESS_START    object
dtype: object

In [6]:
# 檢視該筆資料的有多少種類別數量
sub_train['WEEKDAY_APPR_PROCESS_START'].unique()

array(['WEDNESDAY', 'MONDAY', 'THURSDAY', 'SUNDAY', 'SATURDAY', 'FRIDAY',
       'TUESDAY'], dtype=object)

In [7]:
# 轉換成one hot encoding的形式
sub_train_dummy = pd.get_dummies(sub_train)
sub_train_dummy.head()

,WEEKDAY_APPR_PROCESS_START_FRIDAY,WEEKDAY_APPR_PROCESS_START_MONDAY,WEEKDAY_APPR_PROCESS_START_SATURDAY,WEEKDAY_APPR_PROCESS_START_SUNDAY,WEEKDAY_APPR_PROCESS_START_THURSDAY,WEEKDAY_APPR_PROCESS_START_TUESDAY,WEEKDAY_APPR_PROCESS_START_WEDNESDAY
0,0,0,0,0,0,0,1
1,0,1,0,0,0,0,0
2,0,1,0,0,0,0,0
3,0,0,0,0,0,0,1
4,0,0,0,0,1,0,0

其中欄位形式依照欄位各個類別(星期幾)的名稱自成新的欄位

In [8]:
# 看看其欄位數量的變化
(r, c) = sub_train.shape
(r_dummy, c_dummy) = sub_train_dummy.shape
print('原本資料的大小為(%i, %i)，\n轉換成one hot encoding的形式後，\n大小變為(%i, %i)' % (r, c, r_dummy, c_dummy))

原本資料的大小為(307511, 1)，
轉換成one hot encoding的形式後，
大小變為(307511, 7)

## Label encoding

In [9]:
# 但我覺得星期幾其實是個ordinal categorical data
# 因此，可以使用label encoding的方式

from sklearn.preprocessing import LabelEncoder

In [11]:
le = LabelEncoder()
sub_train_label = sub_train.copy()
sub_train_label['label'] = le.fit_transform(sub_train)
sub_train_label.head(12)

   WEEKDAY_APPR_PROCESS_START  label
0                   WEDNESDAY      6
1                      MONDAY      1
2                      MONDAY      1
3                   WEDNESDAY      6
4                    THURSDAY      4
5                   WEDNESDAY      6
6                      SUNDAY      3
7                      MONDAY      1
8                   WEDNESDAY      6
9                    THURSDAY      4
10                   SATURDAY      2
11                     FRIDAY      0

可從上方看到雖然我使用label encoding轉換了，但是星期幾並不是對應到理想中的數字上，如SUNDAY == 0, MONDAY == 1, ...，而是照字母順序排列。

In [13]:
# 原始fit order為
le.fit(sub_train)
le.classes_

array(['FRIDAY', 'MONDAY', 'SATURDAY', 'SUNDAY', 'THURSDAY', 'TUESDAY',
       'WEDNESDAY'], dtype=object)

In [14]:
# 如果我自己更改order為
le.classes_ = ['SUNDAY','MONDAY','TUESDAY', 'WEDNESDAY','THURSDAY','FRIDAY','SATURDAY']
le.classes_

['SUNDAY', 'MONDAY', 'TUESDAY', 'WEDNESDAY', 'THURSDAY', 'FRIDAY', 'SATURDAY']

In [15]:
sub_train_label['order_label'] = le.transform(sub_train['WEEKDAY_APPR_PROCESS_START'])
sub_train_label.head(12)

   WEEKDAY_APPR_PROCESS_START  label  order_label
0                   WEDNESDAY      6            3
1                      MONDAY      1            1
2                      MONDAY      1            1
3                   WEDNESDAY      6            3
4                    THURSDAY      4            4
5                   WEDNESDAY      6            3
6                      SUNDAY      3            0
7                      MONDAY      1            1
8                   WEDNESDAY      6            3
9                    THURSDAY      4            4
10                   SATURDAY      2            6
11                     FRIDAY      0            5

這邊就更改成我預期個樣子啦！